body {
    background-color: rgb(92, 219, 22);
}

h1 {
    color: red;
    margin-left: 20px;
    font-family: Trattatello;
    padding: 30px;
    border: 2px solid powderblue;
    border-color: black;
}
h2 {
    color: purple;
    margin-left: 20px;
    font-family: Luminari;
}
h3 {
    color: blue;
    margin-left: 20px;
    font-family: Apple Chancery;
}
p {
    color: maroon;
    margin-left: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
